{{ 'divider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'divider.js' | asset_url }}" defer></script>

<section class="divider">
  <div class="divider__content">
    <p>{{ text }}</p>
  </div>
</section>
