		<div class='best__right'>
			<div>
				{slides &&
					slides.map((slide) => {
						return (
							<img
								key={slide.id}
								class={`${
									slide.id == currentSlideId
										? styles.best__slides_item_active
										: styles.best__slides_item
								} `}
								src={slide.image}
								alt='photo'
							/>
						)
					})}
			</div>
			<div class='best__slides__btnContainer'>
				{slides &&
					slides.map((slide) => {
						return (
							<div
								key={slide.id}
								onClick={() => {
									setCurrentSlideId(slide.id)
								}}
								class={`${styles.best__slides_btn} ${
									slide.id == currentSlideId
										? styles.best__slides_btn_active
										: styles.best__slides_btn
								} `}
							></div>
						)
					})}
			</div>
		</div>
