.team {
	&__container {
		position: relative;
		width: 100%;
	}
	&__bg {
		&_top {
			position: absolute;
			left: 0;
			top: 0;
		}
		&_bottom {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
	&__wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 150px;
		padding-top: 110px;
		width: 100%;
	}
	&__text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		max-width: 600px;
		width: 100%;
		p {
			margin: 10px 0px;
			font-weight: normal;
			font-size: var(--fonts-h4);
			color: var(--color-primary);
		}
	}
	&__button {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-weight: 600;
		font-size: var(--fonts-h4);
		color: var(--color-primary);
		text-transform: uppercase;
		cursor: pointer;
		margin-top: 10px;
		padding: 10px;
		padding-left: 0;
		&::after {
			margin-left: 10px;
			font-size: 0px;
			content: '';
			height: 6px;
			width: 6px;
			border-radius: 100%;
			padding: 4px;
			border: 8px solid var(--color-primary);
			background-color: var(--color-white);
		}
		&:hover {
			background-color: var(--color-primary-hover);
		}
	}
	&__title {
		font-weight: 500;
		font-size: var(--fonts-h2);
		color: var(--color-primary);
		margin-bottom: 30px;
		text-transform: uppercase;
	}
	&__photos {
		&__pc {
			width: 600px;
		}
		&__mobile {
			display: none;
		}
	}
}
@media screen and (max-width: 1600px) {
	.team {
		&__bg {
			&_top {
				height: 90px;
			}
		}
	}
}
@media screen and (max-width: 1400px) {
	.team {
		&__text {
			max-width: 520px;
		}
		&__photos {
			&__pc {
				width: 600px;
			}
		}
		&__bg {
			&_top {
				height: 80px;
				left: -20px;
			}
			&_bottom {
				max-height: 140px;
			}
		}
	}
}

@media screen and (max-width: 1250px) {
	.team {
		&__text {
			max-width: 480px;
		}
		&__photos {
			&__pc {
				width: 520px;
			}
		}
	}
}
@media screen and (max-width: 1050px) {
	.team {
		&__text {
			max-width: 420px;
		}
		&__photos {
			&__pc {
				width: 440px;
			}
		}
		&__bg {
			&_bottom {
				max-height: 100px;
			}
		}
	}
}
@media screen and (max-width: 950px) {
	.team {
		&__wrapper {
			display: flex;
			flex-direction: column;
			padding-top: 50px;
			padding-bottom: 50px;
		}
		&__text {
			max-width: 90%;
		}
		&__photos {
			&__pc {
				width: 500px;
			}
		}
	}
}
@media screen and (max-width: 768px) {
	.team {
		&__wrapper {
			display: flex;
			flex-direction: column;
		}
		&__photos {
			&__pc {
				display: none;
			}
			&__mobile {
				display: block;
			}
		}
	}
}
