.preview {
	&__bg {
		&__top {
			position: absolute;
			right: 100px;
			top: 0;
		}
		&__bottom {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
	&__container {
		position: relative;
		min-height: 910px;
		background-image: url('/static/MainPreview/bgLarge.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100%;
	}
	&__wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		height: 100%;
		width: 100%;
	}
	&__title {
		font-weight: 900;
		font-size: var(--fonts-h1);
		text-transform: uppercase;
		text-align: center;
		color: var(--color-primary);
		span {
			color: var(--color-secondary);
		}
	}
	&__subtitle {
		font-size: var(--fonts-h2);
		font-weight: 500;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 30px;
		line-height: 34px;
		color: var(--color-primary);
	}
	&__button {
		display: block;
		padding: 21px 50px;
		text-transform: uppercase;
		cursor: pointer;
		text-align: center;
		border-radius: 25px;
		color: var(--color-white);
		background-color: var(--color-secondary);
		border: 1px solid var(--color-white);
		// max-width: 360px;
		font-size: var(--fonts-h4);
		font-weight: 600;
		z-index: 1;
		&:hover {
			background: var(--color-white);
			border: 1px solid var(--color-secondary);
			color: var(--color-primary);
		}
	}
}

.arrange {
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		padding: 150px 0px;
		font-size: var(--fonts-h1);
		text-align: center;
		p {
			color: var(--color-primary);
			font-weight: 700;
		}
		span {
			color: var(--color-secondary);
			font-weight: 700;
		}
	}
}

@media screen and (max-width: 1600px) {
	.preview {
		&__bg {
			&__top {
				right: 0;
			}
		}
	}
}
@media screen and (max-width: 1400px) {
	.preview {
		&__container {
			background-attachment: scroll;
		}
		&__bg {
			&__top {
				right: -200px;
			}
		}
	}
	.arrange__wrapper {
		padding: 100px 0px;
	}
}
@media screen and (max-width: 1280px) {
	.preview {
		&__bg {
			&__bottom {
				height: 170px;
			}
			&__top {
				height: 41px;
			}
		}
		&__container {
			min-height: 650px;
		}
		&__button {
			padding: 18px 42px;
		}
	}
}

@media screen and (max-width: 800px) {
	.preview {
		&__container {
			background-image: url('/static/MainPreview/bgSmall.jpg');
			align-items: flex-start;
			justify-content: center;
		}
		&__wrapper {
			align-items: center;
			justify-content: center;
		}
		&__content {
			margin-top: 100px;
		}
		&__bg {
			&__bottom {
				display: none;
			}
			&__top {
				height: 33px;
				left: 0;
				right: auto;
			}
		}
		&__container {
			min-height: 750px;
		}
		&__button {
			padding: 18px 40px;
		}
	}
	.arrange__wrapper {
		padding: 50px 0px;
	}
}

@media screen and (max-width: 600px) {
	.preview {
		&__content {
			margin-top: 110px;
		}
		&__button {
			padding: 17px 25px;
		}
	}
}
