{{ 'component-header.css' | asset_url | stylesheet_tag }}

<header>
  <div class='header__container containerMaxWidth'>
    <div class="header__wrapper containerWrapper">
      <div class="header__logo__container">
        <div class="header__logo">
          <img src="{{'donut.svg' | asset_url }}" width='37' height='37' alt="headerlogo" class=''>
          <span>{{ shop.name }}</span>

        </div>
        <div class="header__nav__NotActiveHeaderBurger">
          <nav class='header__nav__container'>
            <div {% comment %} onClick={()=> {
              allActions.closeHeaderPopup()
              router.push('/')
              }} {% endcomment %}
              class='header__nav__item'
              >
              About us
            </div>
            <div {% comment %} onClick={()=> {
              allActions.closeHeaderPopup()
              router.push('/catalog')
              }} {% endcomment %}
              class='header__nav__item__active'
              >
              Catalog
            </div>
            <div {% comment %} onClick={()=> {
              allActions.closeHeaderPopup()
              router.push('/bag')
              }} {% endcomment %}
              class='styles.header__nav__item'
              >
              Bag
              <div class={styles.header__nav__bag__counter}>3</div>
            </div>
            <div {% comment %} onClick={()=> {
              allActions.closeHeaderPopup()
              router.push('/contacts')
              }} {% endcomment %}
              class='header__nav__item'
              >
              Contacts
            </div>
          </nav>
        </div>
        <div class="header__logo__close">
          <img src="{{'crossIcon.svg' | asset_url }}" width='16' height='16' alt="crossIcon">
        </div>
        <div class="header__nav__ActiveHeaderBurger">
          
        </div>
      </div>
    </div>

  </div>

</header>

