<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donuts</title>
    {{ 'reset.css' | asset_url | stylesheet_tag }}
    {{ 'variables.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}

  </head>
  <body>
    {% comment %} {% section 'header' %} {% endcomment %}
    {{ content_for_layout }}

    {% section 'footer' %}
  </body>
</html>