{% if section.settings.show_announcement %}
  <div class="announcement-bar" role="region" aria-label="Announcement">
    <div class="page-width">
      {%- if section.settings.announcement_text != blank -%}
        <p class="announcement-bar__message">
          {{ section.settings.announcement_text | escape }}
        </p>
      {%- endif -%}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": false
    },
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement text",
      "default": "Announce something here"
    }
  ]
}
{% endschema %}
