{{ 'landing-best.css' | asset_url | stylesheet_tag }}

<section class='best__container containerMaxWidth'>
  <img
    src='static/Best/best-bg-1.svg'
    class='best__bg_top'
    }
    alt=''
    width='auto'
    height='auto' />
  <img
    src='static/Best/best-bg-2.svg'
    class='best__bg_bottom'
    }
    alt=''
    width='auto'
    height='auto' />
  <div class='best__wrapper containerWrapper'>
    <div class='best__left'>
      <p class='best__paragraph best__paragraph__border1px'>
        the best in <br/>
        the business
      </p>
      <p class='best__paragraph'>
        the best in <br/>
        the business
      </p>
      <p class='best__paragraph__active best__paragraph'>
        the best in <br/>
        the business
      </p>

      <p class='best__paragraph'>
        the best in <br/>
        the business
      </p>
      <p class='best__paragraph best__paragraph__border1px'>
        the best in <br/>
        the business
      </p>
    </div>
    <BestSlider/>
    {% render 'landing-best-slider' %}
  </div>
</section>