.catalog {
	&__title {
		justify-self: flex-start;
		align-self: flex-start;
		white-space: nowrap;
		padding-right: 100px;
		font-weight: 900;
		font-size: 96px;
		text-transform: uppercase;
		color: transparent;
		-webkit-text-stroke: 3px var(--color-secondary);
	}
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	&__products {
		&__wrapper {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
	&__filters {
		&__container {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: row;
		}
	}
}
