.cookies {
	&__container {
		position: fixed;
		bottom: 0;
		width: 100%;
		padding: 10px 0;
		background: #45484d;
	}
	&__wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	&__img {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
		img {
			width: 70px;
			height: 70px;
		}
	}
	&__text {
		&__container {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;
		}
		&__title {
			color: var(--color-white);
			font-size: var(--fonts-h5);
			font-weight: 500;
		}
		&__description {
			color: var(--color-white);
			font-size: var(--fonts-h5);
		}
		&__buttons {
			position: relative;
			float: right;
			margin-top: 10px;
			align-self: flex-end;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			&__allow {
				background-color: #f48358;
				color: #fff;
				font-size: var(--fonts-h4);
				font-weight: bold;
				padding: 10px 20px;
				cursor: pointer;
			}
			&__disallow {
				display: none;
			}
		}
	}
}
