<div class="containerMaxWidth">
  <div class="catalog__container containerWrapper">
    <div class="catalog__title">Donuts</div>
    <div class="catalog__filters__container containerWrapper">
      sagjsaghasgjhi
      {% comment %}
        <DefaultFilter />
        <TasteFilter />
        <ColorFilter />
        <ClearFilters />
      {% endcomment %}
    </div>
    {% comment %} <Products itemCount="{12}" /> {% endcomment %}
  </div>
</div>
