.questions {
	&__container {
		position: fixed;
		top: 0;
		z-index: 99999;
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	&__wrapper {
		z-index: 100;
		width: 100%;
		max-width: 1330px;
		display: flex;
		align-items: center;
		flex-direction: row;
		background: #fff;
		padding: 0;
	}
	&__bg {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		cursor: pointer;
		&:hover {
			background: rgba(0, 0, 0, 0.63);
		}
	}
	&__left {
		&__container {
			height: 100%;
			width: 100%;
			flex: 1;
			background-image: url('/static/QuestionsPopup/questions_left_img.jpg');
			background-color: transparent;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: bottom;
		}
	}
	&__right {
		&__container {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1;
		}
		&__wrapper {
			width: 100%;
			max-width: 430px;
			padding: 50px 0px;
		}
		&__title {
			font-size: var(--fonts-h2);
			text-transform: uppercase;
			color: var(--color-secondary);
			font-weight: bold;
			margin-bottom: 10px;

			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__close {
			display: none;
			padding-left: 10px;
			padding-bottom: 10px;
			cursor: pointer;
			&:hover {
				background: var(--color-primary-hover);
			}
			svg {
				height: 24px;
				width: 24px;
			}
		}
		&__subtitle {
			font-size: var(--fonts-h4);
			color: var(--color-primary);
			margin-bottom: 35px;
		}
	}
	&__form {
		&__container {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}
		&__input {
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: space-between;
			padding: 14px 30px;
			border-radius: 20px;
			max-width: 360px;
			width: 100%;
			border: 1px solid var(--color-secondary);
			color: var(--color-primary);
			font-size: var(--fonts-h4);
			margin-bottom: 15px;
			&__error {
				font-size: var(--fonts-h4);
				color: red;
			}
		}
		&__submitBtn {
			color: #fff;
			font-size: var(--fonts-h4);
			padding: 14px 54px;
			border-radius: 20px;
			border: 1px solid var(--color-white);
			background: var(--color-secondary);
			cursor: pointer;
			&:hover {
				background: var(--color-secondary-hover);
			}
		}
	}
}

@media (max-width: 1470px) {
	.questions {
		&__wrapper {
			max-width: 1100px;
		}
	}
}

@media (max-width: 1200px) {
	.questions {
		&__wrapper {
			max-width: 1000px;
		}
	}
}

@media (max-width: 1000px) {
	.questions {
		&__wrapper {
			max-width: 800px;
			width: auto;
			padding: 0px 50px;
		}
		&__right {
			&__wrapper {
				padding: 30px 0px;
			}
			&__close {
				display: block;
			}
		}
		&__left__container {
			display: none;
		}
	}
}

@media (max-width: 700px) {
	.questions {
		&__wrapper {
			padding: 0px 40px;
		}
		&__right__wrapper {
			padding: 30px 0px;
		}
	}
}

@media (max-width: 700px) {
	.questions {
		&__wrapper {
			padding: 0px 30px;
		}
	}
}

@media (max-width: 580px) {
	.questions {
		&__wrapper {
			max-width: none;
			width: 100%;
			padding: 0px;
		}
		&__right {
			&__wrapper {
				max-width: 360px;
			}
			&__container {
				justify-content: center;
			}
			&__close {
				padding-right: 10px;
			}
		}
		&__form {
			&__input {
				max-width: none;
				width: 80%;
				padding: 10px 0px;
				border-radius: 10px;
			}
		}
	}
}

@media (max-width: 400px) {
	.questions {
		&__right {
			&__close {
				padding-right: 20px;
			}
			&__subtitle {
				width: 90%;
			}
		}
	}
}
