.catalogPreview {
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&__wrapper {
		margin-top: 100px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		row-gap: 50px;
		column-gap: 40px;
		justify-items: center;
	}
	&__button {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-weight: 600;
		font-size: 24px;
		text-transform: uppercase;
		cursor: pointer;
		margin-top: 40px;
		text-align: center;
		p {
			margin-right: 9px;
		}
		&:hover {
			background-color: var(--color-primary-hover);
			border-radius: 10px;
		}
		padding: 20px;
	}
}

@media (max-width: 1200px) {
	.catalogPreview {
		&__wrapper {
			row-gap: 50px;
			column-gap: 40px;
		}
	}
}

@media (max-width: 800px) {
	.catalogPreview {
		&__wrapper {
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media (max-width: 550px) {
	.catalogPreview {
		&__wrapper {
			grid-template-columns: 1fr;
			row-gap: 10px;
		}
	}
}
