.colorFilter {
	&__container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		min-width: 250px;
		margin-right: 10px;
	}
	&__main {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		width: 250px;
		padding: 13px 30px;
		border-radius: 20px;
		border: 1px solid #655d5d;
		cursor: pointer;
		&__active {
			border: 1px solid var(--color-secondary);

			div {
				color: var(--color-secondary);
			}
			svg {
				transform: rotate(180deg);
				path {
					stroke: var(--color-secondary);
				}
			}
		}
		&__title {
			font-size: 24px;
			color: #655d5d;
		}
	}
	&__popup {
		display: none;
		&__active {
			display: block;
		}
		position: absolute;
		top: 20px;
		width: 250px;
		padding: 13px 30px;
		border: 1px solid #655d5d;
		border-top: 0px;
		background-color: white;
		z-index: 2;
		padding-top: 50px;
		&__item {
			:first-child {
				margin-top: 0px;
			}
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			&__label {
				display: flex;
				justify-content: space-around;
				align-items: center;
				flex-direction: row;
				padding: 6px;
				cursor: pointer;
				flex-direction: row;
				svg {
					display: none;
					// height: 40px;
					// width: 40px;
				}
				input[type='checkbox'] {
					-webkit-appearance: none;
					visibility: hidden;
					display: none;
				}
				input[type='checkbox']:checked
					~ .colorFilter__popup__item__label__span {
					border: 1px solid transparent;

					&::after {
						display: block;
						transform: translateX(0px);
					}
				}

				&__span {
					border-radius: 100%;

					position: relative;
					display: block;
					width: 20px;
					height: 20px;
					background: white;
					cursor: pointer;
					overflow: hidden;
					transition: ease-in 0.5s;
					border: 1px solid #655d5d;

					// CHECKED = TRUE
					&::after {
						display: none;
						content: '';
						position: absolute;
						top: 0px;
						right: 0px;
						// background: var(--color-secondary);
						width: 6px;
						height: 6px;
						border: 7px solid var(--color-secondary);
						border-radius: 50%;
						transition: 0.5s;
					}
				}
			}
		}
	}
}
