.bag {
	&__container {
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__products {
		&__wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}
	}
	&__header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	&__title {
		justify-self: flex-start;
		align-self: flex-start;
		white-space: nowrap;
		padding-right: 100px;
		font-weight: 900;
		font-size: 96px;
		text-transform: uppercase;
		color: transparent;
		-webkit-text-stroke: 3px var(--color-secondary);
	}
	&__crossIcon {
		svg {
			height: 18px;
			width: 18px;
		}
	}
	&__total {
		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			margin-top: 30px;
			margin-bottom: 80px;
		}
		&__price {
			text-transform: uppercase;
			color: var(--color-secondary);
			font-size: var(--fonts-h2);
		}
		&__submitBtn {
			color: var(--color-white);
			padding: 16px 60px;
			background-color: var(--color-secondary);
			font-weight: 600;
			font-size: var(--fonts-h3);
			border-radius: 20px;
			margin-top: 20px;
		}
	}
}
