@import 'assets/styles/variables.scss';
@import 'assets/styles/mixins.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	font-family: var(--body-font);
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	@apply h-full;
}

a {
	text-decoration: none;
}
